.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y-hidden {
	overflow-y: hidden;
}