// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

html, body {
	margin:0;
	padding:0;
	height: 100%;
}

header.site-header {
	height: 15%;
	overflow: hidden;
}

#page, .content-area {
	height: 100%;
}

#content {
	height: 85%;
}

/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
@import "primary/homepage";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";