.categories-nav {
  width: 100%;
  height: 53px;

  > div {
    width: 100%;
    height: 100%;

    ul {
      width: 100%;
      height: 100%;
      clear: both;
      display: block;
      list-style: none;
      margin: 0;

      li {
        width: 25%;
        height: 100%;
        float: left;
        font-size: 2em;

        &:before {
          width: 100%;
          height: 3px;
          content: "";
          display: block;
          bottom: 0;
          position: absolute;
        }

        a {
          @extend %center;

          position: absolute;
          display: table;
          color: white;
          text-align: center;

          &:before {
            content: "";
            display: inline-block;
            vertical-align: top;
            margin-top: 3px;
            margin-right: 14px;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        &.current-menu-item:before {
          background-color: transparent;
          height: 100%;
        }
      }
    }
  }
}

.categories-nav li.menu-category-sports {

   a:before {
    background-image: $icon__sports;
    width: $icon_width__sports;
    height: $icon_height__sports;
   }

   &:before {
    background-color: rgba($color__sports, 1);
  }

  &.current-menu-item:before {
    background-color: rgba($color__sports, 0.7);
  }
}

.categories-nav li.menu-category-fashion {

   a:before {
    background-image: $icon__fashion;
    width: $icon_width__fashion;
    height: $icon_height__fashion;
   }

   &:before {
    background-color: rgba($color__fashion, 1);
  }

  &.current-menu-item:before {
    background-color: rgba($color__fashion, 0.7);
  }
}

.categories-nav li.menu-category-travel {

   a:before {
    background-image: $icon__travel;
    width: $icon_width__travel;
    height: $icon_height__travel;
   }

   &:before {
    background-color: rgba($color__travel, 1);
  }

  &.current-menu-item:before {
    background-color: rgba($color__travel, 0.7);
  }
}

.categories-nav li.menu-category-pets {

   a:before {
    background-image: $icon__pets;
    width: $icon_width__pets;
    height: $icon_height__pets;
   }

   &:before {
    background-color: rgba($color__pets, 1);
  }

  &.current-menu-item:before {
    background-color: rgba($color__pets, 0.7);
  }
}