body.home .category-carousel-wrapper {
  position: absolute;
  height: calc(100% - 75px);
  top: 75px;
}

body.category .category-carousel-wrapper {
  @media (min-width: $screen-sm-min) {
    padding-top: 75px;
  }
}

.category-carousel-wrapper {

  width: 100%;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0;

  @include transition(opacity 0.6s ease-in-out);

  @media (max-width: $screen-xs-max) {
    padding: 0 10px;
  }

  .slick-track {
    animation-fill-mode: both;
    opacity: 0 !important;
  }

  .slick-list {

  }

  &.active {
    z-index: 10;
    opacity: 1;

    .slick-track {
      opacity: 1 !important;
    }
  }

  h1 {
    margin: 35px 0;
    font-size: 3.4em;
    color: white;
  }

  .category-carousel {
    width: 100%;
    // height: calc(100% - 130px);

    .slick-slide {
      &.slick-current{
        .overlay {

        }
      }
      &:not(.slick-current){
        .overlay {
          background-image: url(../assets/arrow.png);
          background-repeat: no-repeat;
          background-size: 13px 22px;

          opacity: 1;
          visibility: visible;
          background-position: 35px center;
        }

        .video-js {
          opacity: 0.4;
        }
      }
      &.next-slide{
        .overlay {
        }
      }
      &.prev-slide{
        .overlay {
          transform: rotate(180deg);
        }
      }

      > div {
        height: 100%;
      }
    }

    .category-video {
      overflow: hidden;
      -webkit-backface-visibility: hidden;

      @media (min-width: $screen-sm-min) {
        margin: 0 20px;
        display: block !important;
        width: auto !important;
      }

      .overlay {
        -webkit-backface-visibility: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        z-index: 3;
        cursor: pointer;
        // background-color: rgba(15, 19, 24, 0.3);
        background-color: rgba(0,0,0, 0.1);

        opacity: 0;
        visibility: hidden;

        @include transition(
          opacity 0.6s ease-in-out,
          background-color 0.6s ease-in-out,
          visibility 0.6s ease-in-out);
      }

      .metadata {
        @extend %user-select;

        -webkit-backface-visibility: hidden;
        z-index: 3;
        display: inline-block;
        width: auto !important;
        height: auto !important;
        top: auto;
        right: auto;
        bottom: 35px;
        left: 35px;
        color: white;


        h3 {
          font-size: 2.4em;
          margin-bottom: 10px;

          &:after {
            content: "";
            height: 2px;
            background: rgba(174, 170, 177, 0.4);
            width: 230px;
            margin-top: 15px;
            display: block;
          }

          span {
            font-weight: bold;
            margin-bottom: 5px;
          }
        }

        span {
          font-size: 1.3em;
          display: block;
        }
      }

      .banner {
        @extend %user-select;

        -webkit-backface-visibility: hidden;
        height: auto !important;
        width: auto !important;
        bottom: auto;
        right: auto;
        top: 23px;
        left: 0;
        z-index: 3;
        color: white;
        font-size: 1.7em;
        padding: 7px 20px;

        i {
          width: 20px;
          height: 22px;
          display: inline-block;
          vertical-align: top;
          line-height: 15px;
          margin-right: 15px;
          margin-top: -1px;
        }

        &.top-liked i {
          background-image: url(../assets/top-liked-icon.png);
        }

        &.top-engaged i {
          background-image: url(../assets/top-engaged-icon.png);
        }

        &.top-recommandations i {
          background-image: url(../assets/top-recommandations-icon.png);
        }
      }

      .category-video-inner {
        @extend %ratio-16-9;

        width: 100%;

        > * {
          width: 100%;
          height: calc(100% + 1px);
          overflow: hidden;
        }

        video, object, embed {
          width: 100%   !important;
          height: auto   !important;
        }
      }

      .vjs-sublime-skin .vjs-big-play-button {
        -webkit-backface-visibility: hidden;
        z-index: 3;
        background: url(../assets/play-big.png) no-repeat;
        right: 38px;
        bottom: 43px;
        top: initial;
        left: initial;
        width: 89px;
        height: 88px;

        &:before {
          content:"";
        }
      }

      .vjs-poster:before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0, 0.4);
      }

      .vjs-poster:after {
        content: "";
        width: 100%;
        height: 10% !important;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;

        opacity: 0.4;
        box-shadow: 0px 61px 100px 150px;
        // box-shadow: 0px -74px 0px 44px;
      }

      .video-js {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
      }
    }
  }

  .slick-arrow {
    display: none !important;

    /* position: absolute;
    z-index: 2;
    width: calc(10% - 20px);
    height: 100%;
    top: 0;
    opacity: 1;

    background: rgba(15, 19, 24, 0.5);
    border: none;
    border-radius: 0;
    box-shadow: none;

    @include transition(opacity 0.3s ease-in-out);

    &:hover, &:focus, &:active {
      box-shadow: none;
      outline: none;
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }

    &.slick-disabled {
      opacity: 0;
    } */
  }

  .slick-dots {
    list-style: none;
    margin: 0 auto;
    margin-top: 40px;

    li {
      float: left;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active button {
        background: white;
      }

      button {
        text-indent: -9999px;
        background: rgba(255, 255, 255, 0.2);
        height: 12px;
        width: 12px;
        border: none;
        border-radius: 50%;
      }
    }
  }

  .view-videos {
    display: inline-block;
    font-size: 2.2em;
    color: white;
    text-decoration: none;
    border: 1px solid #d0d6de;
    padding: 10px 20px;
    margin-top: 35px;
  }

  .scroll-for-more {
    display: block;
    font-size: 1.8em;
    color: white;
    margin-top: 30px;
    padding-top: 26px;
    background: url(../assets/arrow-scroll.png) no-repeat center top;
    transition: background-position 0.2s ease-in-out;

    &:hover {
      background-position-y: 10px;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
      text-decoration: none;
    }
  }
}

@keyframes fadeCarouselInRight {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.fadeCarouselInRight {
  animation-name: fadeCarouselInRight;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes fadeCarouselInLeft {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

.fadeCarouselInLeft {
  animation-name: fadeCarouselInLeft;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes fadeCarouselOutRight {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.fadeCarouselOutRight {
  animation-name: fadeCarouselOutRight;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}

@keyframes fadeCarouselOutLeft {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: -100%;
  }
}

.fadeCarouselOutLeft {
  animation-name: fadeCarouselOutLeft;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}


.category-carousel-wrapper[data-category="sports"] {
  .view-videos {
    border-color: $color__sports;
    // color: $color__sports;
  }

  .banner {
    background-color: $color__sports;
  }

  .vjs-poster:after {
    background-color: $color__sports;
    color: $color__sports;
  }
}
.category-carousel-wrapper[data-category="fashion"] {
  .view-videos {
    border-color: $color__fashion;
    // color: $color__fashion;
  }

  .banner {
    background-color: $color__fashion;
  }

  .vjs-poster:after {
    background-color: $color__fashion;
    color: $color__fashion;
  }
}
.category-carousel-wrapper[data-category="travel"] {
  .view-videos {
    border-color: $color__travel;
    // color: $color__travel;
  }

  .banner {
    background-color: $color__travel;
  }

  .vjs-poster:after {
    background-color: $color__travel;
    color: $color__travel;
  }
}
.category-carousel-wrapper[data-category="pets"] {
  .view-videos {
    border-color: $color__pets;
    // color: $color__pets;
  }

  .banner {
    background-color: $color__pets;
  }

  .vjs-poster:after {
    background-color: $color__pets;
    color: $color__pets;
  }
}
