.homepage-curtains-wrapper {
  width: 100%;
  height: 100%;
  z-index: 5;

  @include transition(height 0.5s ease-in-out);

  &[data-toggle="open"] {
    height: 100%;
  }

  &[data-toggle="close"] {
    height: $height__curtains_closed;
    @include transition(height 0.5s 0.6s ease-in-out);
  }

  .homepage-center {
    @extend %center;

    z-index: 1;

    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.55s 0.3s ease-in-out;
    // @include transition(opacity 0.55s 0.3s ease-in-out);

    p {
      font-size: 2em;
      color: white;
      margin-top: 25px;
    }
  }

  .homepage-curtains {
    display: table;
    height: 100%;
    width: 100%;

    .curtain-wrapper {
      height: 100%;
      overflow: hidden;
      width: 25%;
      display: table-cell;

      @include transition(width 0.5s 0.3s ease-in-out);

      video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
      }

      .curtain-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        // position: absolute;

        .shadow {
          box-shadow: 0px 0 0px;
          height: 6px;
          width: 150%;
          position: absolute;
          bottom: 0;
          left: 0;

          @include transition(
            height 0.5s 0.3s ease-in-out,
            box-shadow 0.5s 0.3s ease-in-out,
            opacity 0.5s 0.6s ease-in-out);
        }

        .content {
          position: absolute;
          width: 100%;
          bottom: 0;

          h3 {
            font-size: 2em;
            color: white;
            position: absolute;
            display: table;

            left: 50%;
            bottom: 14px;
            transform: translateX(-50%);

            transition:
              left 0.4s 0.4s ease-in-out,
              transform 0.4s 0.4s ease-in-out,
              bottom 0.5s ease-in-out;

            span {
              height: 18px;
              display: inline-block;
              margin-right: 10px;
            }
          }

          .view-videos {
            font-size: 1.6em;
            color: white;
            text-decoration: none;
            border: 1px solid #d0d6de;
            padding: 5px 10px;
            position: absolute;
            bottom: 14px;
            left: 30px;

            animation-delay: 0.5s;
            animation-duration: 1s;
            animation-fill-mode: both;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, 50%, 0);

            @include transition(all 0.3s ease-in-out);

          }
        }
      }
    }
  }

  &[data-toggle="open"]:hover {
    .curtain-wrapper:hover {
      width: 50%;

      @include transition(width 0.5s ease-in-out);

      .curtain-overlay {

        .shadow {
          height: 20%;
          opacity: 0.6;
          box-shadow: 0px -30px 200px 150px;

          @include transition(
            height 0.5s ease-in-out,
            box-shadow 0.5s ease-in-out,
            opacity 0.5s ease-in-out);
        }

         .content {


          // transform: translateX(0%);

          h3 {
            left: 30px;
            bottom: 60px;
            transform: translateX(0%);

            transition:
              left 0.3s ease-in-out,
              transform 0.3s ease-in-out,
              bottom 0.5s 0.3s ease-in-out;
          }

          .view-videos {
            opacity: 1;
            transform: none;
            visibility: visible;

            @include transition(all 0.5s 0.4s ease-in-out);
          }
        }
      }
    }

    .curtain-wrapper .curtain-overlay .content {


      // -webkit-transition: all 0.5s ease-in-out;
      // -moz-transition: all 0.5s ease-in-out;
      // -o-transition: all 0.5s ease-in-out;
      // transition: all 0.5s ease-in-out;
    }

    .curtain-wrapper:not(:hover) {
      width: 16.66667%;

      @include transition(width 0.5s ease-in-out);
    }
  }

  &[data-toggle="close"] {

    .homepage-center {
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s 0.8s, opacity 0.55s 0.3s ease-in-out;
    }

    .curtain-wrapper {
      cursor: pointer;

      .curtain-overlay {
        .shadow {
          height: 3px;
          opacity: 1;

          @include transition(all 0.5s ease-in-out);
        }

        .content {

          h3 {

          }

          .view-videos {
            // display: none;
          }
        }
      }

      &.active {
        .curtain-overlay {
          .shadow {
            height: $height__curtains_closed;
            opacity: 0.7;

            @include transition(all 0.5s ease-in-out);
          }
        }
      }
    }
  }
}
.homepage-curtains .curtain-wrapper[data-category="sports"] {
  .shadow {
    background: $color__sports;
    color: $color__sports;
  }

  h3 span {
    background: $icon__sports;
    width: 19px;
  }
}
.homepage-curtains .curtain-wrapper[data-category="fashion"] {
  .shadow {
    background: $color__fashion;
    color: $color__fashion;
  }

  h3 span {
    background: $icon__fashion;
    width: 29px;
  }
}
.homepage-curtains .curtain-wrapper[data-category="travel"] {
  .shadow {
    background: $color__travel;
    color: $color__travel;
  }

  h3 span {
    background: $icon__travel;
    width: 15px;
  }
}
.homepage-curtains .curtain-wrapper[data-category="pets"] {
  .shadow {
    background: $color__pets;
    color: $color__pets;
  }

  h3 span {
    background: $icon__pets;
    width: 24px;
  }
}


@media (max-width: $screen-sm) {
  .homepage-curtains-wrapper {
    width: 100%;
    height: 100%;
    z-index: 5;

    .homepage-curtains {
      display: block;

      .curtain-wrapper {
        width: 100%;
        height: 200px;
        display: block;
      }
    }
  }
}
