.vjs-poster {
	// height: calc(100% + 1px);
	height: 100%;
	background-size: cover;
	-webkit-backface-visibility: hidden;
}

.vjs-icon-play:before,
.video-js .vjs-big-play-button:before,
.video-js .vjs-play-control:before,
.vjs-poster:before,
.vjs-poster:after {
	-webkit-backface-visibility: hidden;
}

// prevent play video when clicking on it's poster
.video-js:not(.vjs-has-started) .vjs-tech,
.video-js .vjs-poster {
  pointer-events: none;
}