$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color__sports  : #337db8;
$color__fashion : #644491;
$color__travel  : #003fa0;
$color__pets    : #158a51;

$icon__sports  : url(../assets/trophy-icon.png);
$icon__fashion : url(../assets/hanger-icon.png);
$icon__travel  : url(../assets/marker-icon.png);
$icon__pets    : url(../assets/fish-icon.png);

$icon_big__sports  : url(../assets/trophy-icon-big.png);
$icon_big__fashion : url(../assets/hanger-icon-big.png);
$icon_big__travel  : url(../assets/marker-icon-big.png);
$icon_big__pets    : url(../assets/bone-icon-big.png);

$icon_width__sports  : 19px;
$icon_width__fashion : 29px;
$icon_width__travel  : 15px;
$icon_width__pets    : 24px;

$icon_height__sports  : 18px;
$icon_height__fashion : 18px;
$icon_height__travel  : 18px;
$icon_height__pets    : 18px;
