main#main {
  height: 100%;
  width: 100%;
}

/*--------------------------------------------------------------
## Curtains
--------------------------------------------------------------*/
@import "../secondary/curtains";

.categories-carousel {
  background: #161b23;
  width: 100%;
  height: calc(100% - #{$height__curtains_closed});
  overflow-x: hidden;
  position: absolute;
  top: $height__curtains_closed;
  padding-top: 75px;

  .category-carousel-wrapper {

    position: absolute;
    width: 100%;
    height: calc(100% - 75px);
    top: 75px;
    left: 0;
    right: 0;
    text-align: center;

    opacity: 0;

    @include transition(opacity 0.6s ease-in-out);

    .slick-track {
      animation-fill-mode: both;
      opacity: 0 !important;
    }



    &.active {
      z-index: 10;
      opacity: 1;

      // background: red;


      .slick-track {
        opacity: 1 !important;
      }
    }

    .category-carousel {
      width: 100%;
      // height: 100%;
    }

    .view-videos {
      display: inline-block;
      font-size: 2.2em;
      color: white;
      text-decoration: none;
      border: 1px solid #d0d6de;
      padding: 10px 20px;
      margin-top: 35px;
    }
  }
}

.category-video {

  margin: 0 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;

  .overlay {
    -webkit-backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
    background-color: rgba(15, 19, 24, 0.3);

    opacity: 0;
    visibility: hidden;

    @include transition(
      opacity 0.6s ease-in-out,
      background-color 0.6s ease-in-out,
      visibility 0.6s ease-in-out);
  }

  .metadata {
    -webkit-backface-visibility: hidden;
    z-index: 3;
    display: inline-block;
    width: auto !important;
    height: auto !important;
    top: initial;
    right: initial;
    bottom: 35px;
    left: 35px;
    color: white;


    h3 {
      font-size: 2.4em;
      margin-bottom: 10px;

      &:after {
        content: "";
        height: 2px;
        background: rgba(174, 170, 177, 0.4);
        width: 230px;
        margin-top: 15px;
        display: block;
      }
    }

    span {
      font-size: 1.3em;
      display: block;
    }
  }

  .category-video-inner {
    @extend %ratio-16-9;

    width: 100%;

    > * {
      width: 100%;
      height: calc(100% + 1px);
      overflow: hidden;
    }
  }

  video {
    width: 100%    !important;
    height: auto   !important;
    // vertical-align: bottom;
    // background: transparent url('https://i.ytimg.com/vi/Q8AZ16uBhr8/maxresdefault.jpg') 50% 50% / cover no-repeat ;
  }

  &.slick-current{
    .overlay {

    }
  }

  &.next-slide{
    .overlay {

      background-image: url(../assets/arrow.png);
      background-repeat: no-repeat;
      background-size: 13px 22px;

      opacity: 1;
      visibility: visible;
      background-position: 35px center;
    }
  }
  &.prev-slide{
    .overlay {
      background-image: url(../assets/arrow.png);
      background-repeat: no-repeat;
      background-size: 13px 22px;

      opacity: 1;
      visibility: visible;
      transform: rotate(180deg);
      background-position: 35px center;
    }
  }
}

.categories-carousel {
  // width: auto;

  > .owl-stage-outer > .owl-stage > .owl-item {
    // width: 100% !important;
  }
}

/* .owl-item {
  display: inline-block;

  .category-video {
    // margin: 0 20px;
    // overflow: hidden;

    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background: red;

      opacity: 0.5;
      visibility: visible;

      @include transition(all 0.3s ease-in-out);
    }

    video {
      width: 100%    !important;
      height: auto   !important;
      background: transparent url('https://i.ytimg.com/vi/Q8AZ16uBhr8/maxresdefault.jpg') 50% 50% / cover no-repeat ;
    }
  }

  &.active{
    .overlay {
      opacity: 0;
      visibility: hidden;
    }
  }
} */

.slick-arrow {
  display: none !important;

  /* position: absolute;
  z-index: 2;
  width: calc(10% - 20px);
  height: 100%;
  top: 0;
  opacity: 1;

  background: rgba(15, 19, 24, 0.5);
  border: none;
  border-radius: 0;
  box-shadow: none;

  @include transition(opacity 0.3s ease-in-out);

  &:hover, &:focus, &:active {
    box-shadow: none;
    outline: none;
  }

  &.slick-prev {
    left: 0;
  }

  &.slick-next {
    right: 0;
  }

  &.slick-disabled {
    opacity: 0;
  } */
}



@keyframes fadeOutLeftOO {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeInRightOO {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
  }
}




@keyframes fadeInRight {
  from {
    opacity: 0;
    left: -100%;
    // transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    left: 0;
    // transform: inherit;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    left: 100%;
    // transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    left: 0;
    // transform: inherit;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    left: 0;
    // transform: inherit;
  }

  to {
    opacity: 0;
    left: 100%;
    // transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    left: 0;
    // transform: inherit;
  }

  to {
    opacity: 0;
    left: -100%;
    // transform: translate3d(-100%, 0px, 0px) !important;
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}

.slick-slider {
  .metadata { -moz-user-select: text; // or all or something...
    cursor: auto !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
  }
}